@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
* {
    font-family: "Itim", cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: 51px;
    background-color: orange;
}

.dropbtn {
    background-color: #eccc12;
    color: white;
    padding: 1px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    height: 37px;
    width: 100px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu {
    display: flex;
    padding: 5px 70px;
    justify-content: space-between;
    margin: 0;
}

.menu .menu_link {
    font-size: 24px;
    color: white;
    font-weight: 300;
}

.menu .menu_item {
    border-right: 2px dotted white;
    padding-right: 28px;
    list-style-type: none;
}

.subheader {
    height: 84px;
    width: 100%;
    position: absolute;
    background-color: rgba(214, 120, 13, 0.14);
}

.subheader .subheader_logo {
    max-width: 27%;
    margin-top: 7px;
}

.subheader .subheader_official {
    opacity: 0.9;
    font-weight: 400;
}

.subheader .subheader_call {
    margin-top: 19px;
    text-align: right;
    color: black;
    font-size: 24px;
    font-weight: 300;
}

.subheader .subheader_btn {
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border-image: linear-gradient(to top, #1eacc1 7 0% #4ce2ff 100%);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 19px;
    border-radius: 4px;
}

.subheader .subheader_phone {
    text-align: left;
    display: block;
    margin-top: 8px;
    color: black;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: -20px;
}

.promo .promo_header {
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin-left: 130px;
    text-transform: uppercase;
    line-height: 60px;
    text-align: center;
}

.promo .promo_descr {
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin-left: 130px;
    text-align: center;
    margin-top: 23px;
    line-height: 24px;
}

.promo .promo_btn {
    width: 259px;
    height: 63px;
    display: block;
    margin: 47px auto 0 470px;
    box-shadow: inset -4px 0 rgba(0, 0, 0, 0.12);
    border-image: linear-gradient(to top, #1eacc1 7 0% #4ce2ff 100%);
    border: none;
    border-radius: 4px;
}

.promo .promo_subheader {
    color: white;
    text-align: center;
    font-weight: 700;
    margin-left: 130px;
    font-size: 36px;
    line-height: 36px;
    margin-top: 22px;
}

.promo {
    min-height: 800px;
    background: url("https://wallpapers.com/images/hd/daffy-duck-wallpaper-tab-theme-awanjxbha2y2cmyy.webp") center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.characters {
    height: 1400px;
    background: url("https://cdn.wallpapersafari.com/6/20/j7eA1V.jpg");
    background-attachment: fixed;
}

.bugs_bunny {
    width: 500px;
    height: 148px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.daffy_duck {
    width: 500px;
    height: 148px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.yosemite_sam {
    width: 500px;
    height: 148px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 150px;
}

.tweety {
    width: 500px;
    height: 148px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 150px;
}

.tasmanian_devil {
    width: 500px;
    height: 148px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 150px;
}

.wile_e_coyote {
    width: 500px;
    height: 148px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 150px;
}

.bugs_bunny .characters_1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.daffy_duck .characters_1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.yosemite_sam .characters_1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.tweety .characters_1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.wile_e_coyote .characters_1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.tasmanian_devil .characters_1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.container .row .col-md-6 {
    padding-top: 40px;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    padding-top: 70px;
    font-weight: 700;
}

.label {
    text-align: center;
}

.title {
    margin-bottom: 0;
    margin-top: 38px;
    font-style: 38px;
    font-size: 60px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.subtitle {
    margin-top: 19px;
    font-size: 24px;
    font-weight: 400;
    font-size: 36px;
    color: white;
    text-align: center;
}

.mobile {
    min-height: 864px;
    padding: 48px 0 79px 0;
    background: url("../img/tweety1.jpg") center center/cover no-repeat;
}
.mobile_item {
    width: 320px;
    height: 280px;
    margin: 0 auto;
    background: url("../img/daffy_.jpg") center center/cover no-repeat;
    position: relative;
    margin-bottom: 89px;
    padding-top: 92px;
    opacity: 0.9;
    border: 1px solid lightblue;
    border-radius: 4%;
}
.mobile_item_plus {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
}

.mobile_item_3 .mobile_item_plus {
    padding-top: 47px;
    padding-left: -10px;
}

.mobile_item_4 .mobile_item_plus {
    padding-top: 41px;
    padding-left: 127px;
}

.mobile_item_5 .mobile_item_plus {
    padding-top: -100px;
    padding-left: 95px;
}

.mobile_item_6 .mobile_item_plus {
    padding-top: 41px;
}

.pict_of_bugs {
    min-height: 999px;
    background: url("../img/daffy1.png") center center/cover no-repeat;
}
.pict_of_bugs h2 {
    margin-bottom: 0;
    padding: 150px 0 30px 57px;
    font-style: 38px;
    font-size: 60px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.pict_of_bugs p {
    padding: 0 0 0 40px;
    font-size: 24px;
    font-weight: 400;
    font-size: 36px;
    color: white;
    text-align: left;
}

.require {
    min-height: 999px;
    background: url("../img/tweety1.png") center center/cover no-repeat;
    background-position: 0px, 0px;
    opacity: 0.9;
    padding: 46px 0px 84px 0;
}
.require_block {
    margin: 33px 0;
}
.require_nmb {
    margin-bottom: 0px;
}
.require_title {
    color: orange;
    -webkit-text-stroke: 2px lightseagreen;
    font-size: 29px;
    font-weight: 400;
}
.require_list {
    list-style-type: none;
    margin-top: 22px;
}
.require_list li {
    font-size: 27px;
    font-weight: 300;
    margin-bottom: 21px;
    color: white;
    line-height: 24px;
    position: relative;
    -webkit-text-stroke: 2px orangered;
}
.require_list li:before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 21px;
    height: 20px;
    background: url("../img/warner-bros-online-logo.png") center center/cover no-repeat;
    left: -32px;
    top: 3px;
}
.require .waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(226, 47, 2, 0.2));
    font-size: 60px;
}
.require .waviy span {
    font-family: "Alfa Slab One", cursive;
    position: relative;
    display: inline-block;
    color: gold;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
}
@keyframes waviy {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
}

.require .title {
    color: lightseagreen;
    -webkit-text-stroke: 2px lightgreen;
}

.links {
    max-height: 700px;
    background-color: black;
    padding: 50px 0 50px 0;
}
.links .media {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.links .media a img {
    width: 25pxpx;
    height: 25px;
    padding: 0 0 0 37px;
}
.links .container .row .col {
    font-size: 27px;
    padding-left: 89px;
}
.links .container .row .col p a {
    color: gold;
}
.links .container .row .col-6 {
    font-size: 27px;
    padding-left: 247px;
}
.links .container .row .col-6 p a {
    color: gold;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .subheader .subheader_call {
        margin-top: 19px;
        margin-left: -37px;
        text-align: right;
        color: black;
        font-size: 24px;
        font-weight: 300;
    }

    .subheader .subheader_phone {
        text-align: left;
        display: block;
        margin-top: 8px;
        color: black;
        font-size: 19px;
        font-weight: 400;
        text-transform: uppercase;
        margin-left: -20px;
    }

    .subheader .subheader_logo {
        margin-left: -40px;
        margin-top: 20px;
    }

    .subheader .subheader_official {
        margin-top: -35px;
    }

    .promo .promo_btn {
        width: 259px;
        height: 63px;
        display: block;
        margin: 47px auto 0 312px;
        box-shadow: inset -4px 0 rgba(0, 0, 0, 0.12);
        border-image: linear-gradient(to top, #1eacc1 7 0% #4ce2ff 100%);
        border: none;
        border-radius: 4px;
    }

    nav {
        margin: 0 0 auto -45px;
    }

    .dropbtn {
        background-color: #eccc12;
        color: white;
        padding: 1px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        border-radius: 5px;
        height: 37px;
        width: 100px;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        margin-bottom: 10px;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        color: black;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
        color: black;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .offset-md-1 {
        margin-left: 137px;
    }

    .col-md-6 {
        font-size: 14px;
    }

    .characters {
        height: 1270px;
        background: url("https://cdn.wallpapersafari.com/6/20/j7eA1V.jpg") cover no-repeat;
        background-attachment: fixed;
        margin-left: -212px;
    }

    .bugs_bunny .characters_1 {
        width: 100px;
        height: 100px;
    }

    .daffy_duck .characters_1 {
        width: 100px;
        height: 100px;
    }

    .tasmanian_devil .characters_1 {
        width: 100px;
        height: 100px;
    }

    .wile_e_coyote .characters_1 {
        width: 100px;
        height: 100px;
    }

    .tweety .characters_1 {
        width: 100px;
        height: 100px;
    }

    .yosemite_sam .characters_1 {
        width: 100px;
        height: 100px;
    }

    .pict_of_bugs {
        margin-left: -27px;
    }
    .pict_of_bugs .daffy {
        font-size: 54px;
        display: flex;
        justify-content: left;
    }
    .pict_of_bugs P {
        font-size: 27px;
    }

    .mobile {
        min-height: 864px;
        padding: 48px 0 79px 0;
        background: url("../img/tweety1.jpg") center center/cover no-repeat;
    }
    .mobile_item {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        background: url("../img/daffy_.jpg") center center/cover no-repeat;
        position: relative;
        margin-bottom: 89px;
        padding-top: 92px;
        opacity: 0.9;
        border: 1px solid lightblue;
        border-radius: 4%;
    }

    .require {
        margin-left: -107px;
    }
}
@media (max-width: 767px) {
    .subheader {
        height: 97px;
        width: 100%;
        position: absolute;
        background-color: rgba(214, 120, 13, 0.14);
    }

    .subheader .subheader_logo {
        max-width: 21%;
        margin-top: 17px;
    }

    nav {
        margin-left: -300px;
        height: 79px;
    }

    .container .row {
        display: flex;
        flex-wrap: nowrap;
    }
    .container .row .col-md-2 {
        max-width: 200px;
    }

    .container .row .col-md-10 {
        margin-left: -87px;
        padding-right: 0;
    }
    .container .row .col-md-10 h1 {
        font-size: 37px;
    }
    .container .row .col-md-10 h2 {
        font-size: 27px;
    }
    .container .row .col-md-10 .promo_descr {
        font-size: 17px;
    }
    .container .row .col-md-10 .promo_btn {
        margin: 47px auto 0 212px;
    }

    .characters {
        height: 1200px;
        background: url("https://cdn.wallpapersafari.com/6/20/j7eA1V.jpg") cover no-repeat;
        background-attachment: fixed;
        margin-left: -287px;
    }
    .characters h3 {
        margin-left: 300px;
    }

    .bugs_bunny .characters_1 {
        width: 50px;
        height: 50px;
    }

    .daffy_duck .characters_1 {
        width: 50px;
        height: 50px;
    }

    .tasmanian_devil .characters_1 {
        width: 50px;
        height: 50px;
    }

    .wile_e_coyote .characters_1 {
        width: 50px;
        height: 50px;
    }

    .tweety .characters_1 {
        width: 50px;
        height: 50px;
    }

    .yosemite_sam .characters_1 {
        width: 50px;
        height: 50px;
    }

    .characters_descr {
        max-width: 200px;
        font-size: 14px;
    }

    .bugs_bunny {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-left: 27px;
    }

    .daffy_duck {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-left: 177px;
    }

    .yosemite_sam {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-top: 1px;
        margin-left: 10px;
    }

    .tweety {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-top: 587px;
        margin-left: 112px;
    }

    .tasmanian_devil {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-top: 587px;
        margin-left: 47px;
    }

    .wile_e_coyote {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-top: 587px;
        margin-left: -277px;
    }

    .container .row .col-md-6 {
        width: 100px;
        display: flex;
        justify-content: start;
    }

    .characters_descr {
        width: 200px;
    }

    .mobile {
        height: 1400px;
        padding: 48px 0 79px 0;
        background: url("../img/tweety1.jpg") center center/cover no-repeat;
    }
    .mobile .container {
        max-width: 540px;
    }
    .mobile .container .title {
        font-size: 37px;
    }
    .mobile .container .row {
        max-width: 540px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        flex-direction: row;
    }
    .mobile_item {
        width: 180px;
        height: 180px;
        margin: 0 -70px 0 -70px;
        background: url("../img/daffy_.jpg") center center/cover no-repeat;
        position: relative;
        margin-bottom: 89px;
        padding-top: 92px;
        opacity: 0.9;
        border: 1px solid lightblue;
        border-radius: 4%;
    }

    .mobile_item_1 {
        margin-left: -50px;
    }

    .mobile_item_2 {
        margin-left: -207px;
    }

    .mobile_item_3 {
        padding-top: 47px;
        margin-left: -1070px;
        margin-top: 370px;
    }

    .mobile_item_4 {
        margin-left: -1237px;
        margin-top: 370px;
    }

    .mobile_item_5 {
        margin-left: -2107px;
        margin-top: 740px;
    }

    .mobile_item_6 {
        margin-left: -2271px;
        margin-top: 735px;
    }

    .pict_of_bugs h2 {
        font-size: 37px;
    }
    .pict_of_bugs p {
        font-size: 18px;
    }

    .require {
        height: 1050px;
    }
    .require .container .row .col-md-6 {
        width: 170px;
    }
    .require .container .title {
        font-size: 37px;
    }
    .require .waviy {
        margin-left: -666px;
        margin-top: 750px;
        font-size: 50px;
    }

    .require_block {
        width: 370px;
        margin-left: -81px;
    }

    .require_title {
        width: 170px;
        padding-right: 20px;
        font-size: 19px;
    }

    .require_list {
        width: 170px;
        margin-right: 70px;
    }
    .require_list li {
        font-size: 19px;
    }

    .col {
        margin-top: auto;
    }
    .col p {
        font-size: 18px;
    }

    .col-6 {
        margin-left: -90px;
    }
    .col-6 p {
        font-size: 18px;
    }

    .FAQ {
        width: 50px;
        padding-left: 50px;
    }

    .more_info {
        margin-left: -50px;
    }

    .dropbtn {
        background-color: #eccc12;
        color: white;
        padding: 10px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        border-radius: 5px;
        font-size: 24px;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        color: black;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
        color: black;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}